<!-- ================ start banner area ================= -->
<section class="contact-banner-area" id="contact">
  <div class="container h-100">
    <div class="contact-banner">
      <div class="text-center">
        <h1>OUR FACILITIES</h1>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/bed-icon.png">
      </div>
      <h2>Explore Our Rooms</h2>
    </div>
    <div class="card-all">
      <div class="row pb-4">
        <div class="col-md-6 col-xl-4 mb-5" *ngFor="let facility of facilities">
          <div class="card card-explore">
            <div class="card-explore__img">
              <img alt="" class="card-img" [src]=facility.image>
            </div>
            <div class="card-body">
              <h3 class="card-explore__price">{{facility.rentalFee|currency: "VND"}} <sub>/Night</sub></h3>
              <div class="d-flex justify-content-between align-items-center">
                <h4 class="card-explore__title"><a href="#">{{facility.name}}&nbsp;</a><span class="badge badge-warning">{{facility.facilityType.facilityType}}</span></h4>
                <div class="dropout d-flex align-items-center">
                  <button class="more">
                    <span></span>
                    <span></span>
                    <span></span>
                  </button>
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                      <a class="btn btn-warning" [routerLink]="['/service-update',facility.id]">
                        <i class='ti-settings'></i>
                      </a>
                    </li>
                    <li class="nav-item">
                      <button class="btn btn-danger" data-target="#deleteModal"
                              data-toggle="modal"
                              (click)="deleteFacility(facility)">
                        <i class='bx bx-trash'></i>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              <p>Floor square: <span>{{facility.floorSquare|number}} m<sup>2</sup></span></p>
              <p>Maximum people: <span>{{facility.maximumPeople}}</span></p>
              <p>Beginning fourth dominion creeping god was. Beginning, which fly yieldi dry beast moved
                blessed </p>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!--        paging-->
  <nav class="blog-pagination d-flex justify-content-center py-3">
    <ul class="pagination">
      <li class="page-item px-1">
        <a href="#" class="page-link">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link">
          <span>1</span>
          <span>/</span>
          <span>5</span>
        </a>
      </li>
      <li class="page-item px-1">
        <a href="#" class="page-link">Next</a>
      </li>
    </ul>
  </nav>
  <!--        paging-->
</section>
<!-- ================ Explore section end ================= -->
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete Service
          <span class="text-danger font-weight-bold" id="nameDelete">{{facilityDelete.name}}</span>
        </p>
      </div>
      <div class="modal-footer">
        <div class="mx-auto row">
          <input type="hidden" name="id" id="idDelete">
          <a href="#" class="mx-2 button button-modal button--cancel">Cancel</a>
          <a href="#" class="mx-2 button button-modal button--active">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
