<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="about">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Contracts</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contracts</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!-- ================ Explore section start ================= -->
<section class="section-margin section-margin--small">
  <div class="container">
    <div class="section-intro text-center pb-80px">
      <div class="section-intro__style">
        <img alt="" src="../../../assets/img/home/contract.png">
      </div>
      <h2>Create New Contract</h2>
    </div>
    <div class="col-8 mx-auto">
      <div class="mx-auto shadow-lg p-3 mb-5 bg-white rounded-lg">
        <form [formGroup]="contractForm" (ngSubmit)="onSubmit()" novalidate>
          <div class="form-group row">
            <label for="startDate" class="col-sm-3 col-form-label">Start Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="startDate" formControlName="startDate"
                     [class.is-invalid]='(startDate.touched || startDate.dirty||submitted) && startDate.invalid'
                     [class.is-valid]='startDate.valid'>
              <div *ngIf='!startDate.valid && (startDate.dirty ||startDate.touched||submitted)'>
                <small [hidden]='!startDate.errors.pattern' class="text-danger">
                  Start date is Wrong format
                </small>
                <small [hidden]='!startDate.errors.required' class="text-danger">
                  Start date is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="endDate" class="col-sm-3 col-form-label">End Date</label>
            <div class="col-sm-9">
              <input type="date" class="form-control" id="endDate" formControlName="endDate"
                     [class.is-invalid]='(endDate.touched || endDate.dirty||submitted) && endDate.invalid'
                     [class.is-valid]='endDate.valid'>
              <div *ngIf='!endDate.valid && (endDate.dirty ||endDate.touched||submitted)'>
                <small [hidden]='!endDate.errors.pattern' class="text-danger">
                  End date is Wrong format
                </small>
                <small [hidden]='!endDate.errors.required' class="text-danger">
                  End date is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="deposit" class="col-sm-3 col-form-label">Deposit</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="deposit" formControlName="deposit"
                     [class.is-invalid]='(deposit.touched || deposit.dirty||submitted) && deposit.invalid'
                     [class.is-valid]='deposit.valid'>
              <div *ngIf='!deposit.valid && (deposit.dirty ||deposit.touched||submitted)'>
                <small [hidden]='!deposit.errors.pattern' class="text-danger">
                  Deposit must be a positive number
                </small>
                <small [hidden]='!deposit.errors.required' class="text-danger">
                  Deposit is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="customer" class="col-sm-3 col-form-label">Customer booking</label>
            <div class="col-sm-9">
              <select class="form-control"
                      id="customer"
                      name="customer"
                      formControlName="customer"
                      [class.is-invalid]='(customer.touched || customer.dirty||submitted) && customer.invalid'
                      [class.is-valid]='customer.valid'>
                <option value="">Select Customer</option>
                <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
              </select>
              <div *ngIf='!customer.valid && (customer.dirty ||customer.touched||submitted)'>
                <small [hidden]='!customer.errors.required' class="text-danger">
                  Customer is required
                </small>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="facility" class="col-sm-3 col-form-label">Service</label>
            <div class="col-sm-9">
              <select class="form-control"
                      id="facility"
                      name="facility"
                      formControlName="facility"
                      [class.is-invalid]='(facility.touched || facility.dirty||submitted) && facility.invalid'
                      [class.is-valid]='facility.valid'>
                <option value="">Select Service</option>
                <option *ngFor="let facility of facilities" [ngValue]="facility">{{facility.name}}</option>
              </select>
              <div *ngIf='!facility.valid && (facility.dirty ||facility.touched||submitted)'>
                <small [hidden]='!facility.errors.required' class="text-danger">
                  Facility is required
                </small>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <div class="mx-2">
              <a [routerLink]="['/contract']" class="button button--cancel cancel-banner-btn">Cancel</a>
            </div>
            <div class="mx-2">
              <button class="button button--active home-banner-btn" type="submit">
                Create
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>

</section>
<!-- ================ Explore section end ================= -->
