<!-- ================ start banner area ================= -->
<section class="home-banner-area" id="home">
  <div class="container h-100">
    <div class="home-banner">
      <div class="text-center">
        <h4>See What a Difference a stay makes</h4>
        <h1>Luxury <em>is</em> personal</h1>
        <a class="button home-banner-btn" [routerLink]="['/service-list']">Book Now</a>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ welcome section start ================= -->
<section class="welcome">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mb-4 mb-lg-0">
        <div class="row no-gutters welcome-images">
          <div class="col-sm-7">
            <div class="card">
              <img class="" src="../../assets/img/home/welcomeBanner1.png" alt="Card image cap">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="card">
              <img class="" src="../../assets/img/home/welcomeBanner2.png" alt="Card image cap">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card">
              <img class="" src="../../assets/img/home/welcomeBanner3.png" alt="Card image cap">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="welcome-content">
          <h2 class="mb-4"><span class="d-block">Welcome</span> to our residence</h2>
          <p>Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin, appear void give third bearing divide one so blessed moved firmament gathered </p>
          <p>Beginning blessed second a creepeth. Darkness wherein fish years good air whose after seed appear midst evenin, appear void give third bearing divide one so blessed</p>
          <a class="button button--active home-banner-btn mt-4" [routerLink]="['/service-list']">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ================ welcome section end ================= -->
